{% load l10n i18n shop_tags %}
<table cellspacing="0" cellpadding="10" border="0" bgcolor="#f7f7f7" align="center" width="100%">
    <tr>
        <td>
            <font face="Arial, Helvetica, sans-serif" size="2">
                <table align="center" cellpadding="10" cellspacing="10" width="600" bgcolor="#ffffff">
                    <tr>
                        <td>
                            <a href="{{ URL_EMAIL }}" target="_blank" style="display: block;">
                                <!-- IMAGEM DA LOGO -->
                                <img src="{{ MEDIA_URL }}uploads/emails_transacionais/logo.png" />
                            </a>
                        </td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" width="600" bgcolor="#f7f7f7">
                    <tr>
                        <td height="3"></td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="10" width="600" bgcolor="#ffffff">
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left">
                                            <strong>Olá, {{ order.billing_detail_name }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- TEXTO PARA MODIFICAR -->
                                        <td align="left">
                                            Seu pedido está em separação.
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- TEXTO PARA MODIFICAR -->
                                        <td align="left">
                                            Acabamos de enviar o seu pedido para o setor responsável pela separação.<br>
                                            Vamos prepará-lo com muito carinho.<br>
                                            Assim que o status do pedido mudar te avisamos por aqui.
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- TEXTO PARA MODIFICAR -->
                                        <td align="left">
                                            Por favor, aguarde mais informações sobre seu pedido nos próximos e-mails.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <strong>Produto(s) em separação</strong>
                                        </td>
                                    </tr>
                                    {% for item in order.items.all %}
                                        <tr bgcolor="#f9f9f9">
                                            <td width="80" style="vertical-align:middle">
                                                <img src="{{ MEDIA_URL }}{{ item.sku.product.image }}" width="50" height="50" alt="{{ item.description }}" style="vertical-align:middle;">
                                            </td>
                                            <td style="text-align:left;vertical-align:middle">
                                                <span>{{ item.description }}</span>
                                            </td>
                                            <td width="150" style="text-align:right;vertical-align:middle">
                                                <small style="padding-right: 8px;">qtd: {{ item.quantity }}</small> {{ item.unit_price|currency }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            E-mail de confirmação automática, não é necessário respondê-lo. Em caso de dúvidas, visite a nossa <a href="{{ URL_EMAIL }}contacts/atendimento/" target="_blank" style="text-decoration: none;">Central de Atendimento.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </font>
        </td>
    </tr>
</table>
