{% load l10n i18n shop_tags %}
{% localize off %}
<table cellspacing="0" cellpadding="10" border="0" bgcolor="#f7f7f7" align="center" width="100%">
    <tr>
        <td>
            <font face="Arial, Helvetica, sans-serif" size="2">
                <table align="center" cellpadding="10" cellspacing="10" width="600" bgcolor="#ffffff">
                    <tr>
                        <td>
                            <a href="{{ URL_EMAIL }}" target="_blank" style="display: block;">
                                <!-- IMAGEM DA LOGO -->
                                <img src="{{ MEDIA_URL }}uploads/emails_transacionais/logo.png" />
                            </a>
                        </td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" width="600" bgcolor="#f7f7f7">
                    <tr>
                        <td height="3"></td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="10" width="600" bgcolor="#ffffff">
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left">
                                            <strong>Olá, {{ order.billing_detail_name }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- TEXTO PARA MODIFICAR -->
                                        <td align="left">
                                            {% if order.get_last_sis_status.status == "RNF" and order.payment_method == "CartaoDeCredito" %}
                                                Seu pedido <b>#{{ order.id }}</b> foi cancelado pelo seu cartão.
                                                <br />
                                                Não houve cobranças.
                                            {% elif order.payment_method == "Boleto" and order.get_last_sis_status.status == "CAN" %}
                                                Seu pedido <b>#{{ order.id }}</b> foi cancelado devido ao não pagamento do boleto.
                                            {% else %}
                                                Informamos que seu pedido <b>#{{ order.id }}</b> foi cancelado.
                                            {% endif %}
                                            <br />
                                            Caso deseje refazer seu pedido, clique no botão abaixo:
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td align="left">
                                            <a href="{{ URL_EMAIL }}/carrinho/o/{{ order.id }}/?utm_source=recuperacao&utm_medium=email&utm_campaign=naopagos&utm_content=naopagos" target="_blank" style="display: inline-block; background: #2b8421; color: #fff; padding: 5px; text-decoration: none; border-radius: 4px;">
                                                <b>Refazer pedido</b>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            E-mail de confirmação automática, não é necessário respondê-lo. Em caso de dúvidas, visite a nossa <a href="{{ URL_EMAIL }}/contacts/atendimento/" target="_blank" style="text-decoration: none;">Central de Atendimento.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </font>
        </td>
    </tr>
</table>
{% endlocalize %}
