{% load l10n i18n shop_tags %}
{% localize off %}
<table cellspacing="0" cellpadding="10" border="0" bgcolor="#f7f7f7" align="center" width="100%">
    <tr>
        <td>
            <font face="Arial, Helvetica, sans-serif" size="2">
                <table align="center" cellpadding="10" cellspacing="10" width="600" bgcolor="#ffffff">
                    <tr>
                        <td>
                            <a href="{{ URL_EMAIL }}" target="_blank" style="display: block;">
                                <!-- IMAGEM DA LOGO -->
                                <img src="{{ MEDIA_URL }}uploads/emails_transacionais/logo.png" />
                            </a>
                        </td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" width="600" bgcolor="#f7f7f7">
                    <tr>
                        <td height="3"></td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="10" width="600" bgcolor="#ffffff">
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left">
                                            <strong>Olá, {{ order.billing_detail_name }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- TEXTO PARA MODIFICAR -->
                                        <td align="left">
                                            Seu pedido de número <b>#{{ order.id }} </b> foi entregue a transportadora.
                                            <br />
                                            Você receberá novos comunicados, por e-mail, sobre o andamento do pedido.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Produto(s)</strong>
                                        </td>
                                    </tr>
                                    {% for item in order.items.all %}
                                        <tr bgcolor="#f9f9f9">
                                            <td width="80" style="vertical-align:middle">
                                                <img src="{{ MEDIA_URL }}{{ item.sku.product.image }}" width="50" height="50" alt="{{ item.description }}" style="vertical-align:middle;">
                                            </td>
                                            <td style="text-align:left;vertical-align:middle">
                                                <span>{{ item.description }}</span>
                                            </td>
                                            <td style="text-align:right;vertical-align:middle">
                                                <small style="padding-right: 8px;">qtd: {{ item.quantity }}</small> {{ item.unit_price|currency }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Entrega</strong>
                                        </td>
                                    </tr>
                                    <tr bgcolor="#f9f9f9">
                                        <td>
                                            <table cellpadding="10" cellspacing="0" width="100%" style="table-layout:fixed;font-size:14px">
                                                <tbody>
                                                    <tr align="left">
                                                        <td>
                                                            {{ order.shipping_detail_address }}, {{ order.shipping_detail_number }} - {{ order.shipping_detail_neighborhood }} | CEP: {{ order.shipping_detail_postcode }} - {{ order.shipping_detail_city }}, {{ order.shipping_detail_state }}
                                                            <br />
                                                            {% if order.shipping_detail_complement %}{{ order.shipping_detail_complement }}{% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Resumo do pedido</strong>
                                        </td>
                                    </tr>
                                    <tr bgcolor="#f9f9f9">
                                        <td>
                                            <table cellpadding="5" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>Data do Pedido:</td>
                                                        <td align="right">{{ order.add_date|date:"d/m/Y" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Status:</td>
                                                        <td align="right">{{ order.get_status_display }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Frete:</td>
                                                        <td align="right">{{ order.shipping_total|currency }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="5" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong>Total:</strong>
                                                        </td>
                                                        <td align="right"><strong>{{ order.total|currency }}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="5" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Detalhes do Pedido:
                                                        </td>
                                                        <td align="right">
                                                            <a href="{{ URL_EMAIL }}/clientes/central/meus-pedidos/{{ order.id }}/" target="_blank" style="display: block;">ver detalhes</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="10" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            E-mail de confirmação automática, não é necessário respondê-lo. Em caso de dúvidas, visite a nossa <a href="{{ URL_EMAIL }}/contacts/atendimento/" target="_blank" style="text-decoration: none;">Central de Atendimento.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </font>
        </td>
    </tr>
</table>
{% endlocalize %}
